USE [master]
GO
CREATE DATABASE [RoadCompany]
GO
USE [RoadCompany]
GO
CREATE TABLE [dbo].[Absence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[ReplacementId] [int] NULL,
	[AbsenceTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Absence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[AbsenceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_AbsenceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[Candidate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[AppliedPosition] [int] NOT NULL,
	[AboutEmployee] [nvarchar](max) NULL,
 CONSTRAINT [PK_Resume] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[CandidateSkill](
	[ResumeId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_ResumeSkills] PRIMARY KEY CLUSTERED 
(
	[ResumeId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Departme__3214EC073F4060BC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[WorkPhone] [nvarchar](20) NULL,
	[ParlorId] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Employee__3214EC07BCCE1EBE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[EmployeeAccount](
	[EmployeeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[EmployeeDepartment](
	[EmployeeId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SubDepartmentId] [int] NULL,
	[ManagerId] [int] NULL,
	[AssistantId] [int] NULL,
 CONSTRAINT [PK_EmployeeDepartment] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Event__3214EC07E325F860] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[EventEmployee](
	[EventId] [int] NOT NULL,
	[Employee] [int] NOT NULL,
	[IsOrganizer] [bit] NOT NULL,
 CONSTRAINT [PK_EventEmployee] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Parth] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[ImageMaterial](
	[IdMaterial] [int] NOT NULL,
	[IdImage] [int] NOT NULL,
 CONSTRAINT [PK_ImageMaterial] PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC,
	[IdImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ApprovalDate] [date] NOT NULL,
	[ChangeDate] [date] NOT NULL,
	[SatusId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[Area] [nvarchar](30) NULL,
	[AuthorId] [int] NULL,
 CONSTRAINT [PK__Material__3214EC0713968E58] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[MaterialTrening](
	[EventId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[TrainingId] [int] NOT NULL,
 CONSTRAINT [PK_MaterialsTrenings_1] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[MaterialId] ASC,
	[TrainingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Parlor](
	[Id] [int] NOT NULL,
	[ParlorName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Parlor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK__Person__3214EC076270E7D6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Skill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Status__A25C5AA677B330D6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[SubdDepartment](
	[SubdDepartment_id] [int] IDENTITY(1,1) NOT NULL,
	[SubdivisionId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_SubdDepartment] PRIMARY KEY CLUSTERED 
(
	[SubdDepartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[SubDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[Subdivision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[TrainingCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionDate] [date] NOT NULL,
	[IsEventDay] [bit] NOT NULL,
 CONSTRAINT [PK_EventCalendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[TypeEvent](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TypeEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[TypeMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TypeMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[WorkEmployee](
	[WorkEmployee_id] [int] IDENTITY(1,1) NOT NULL,
	[WorkingDayId] [int] NULL,
	[EmployeeId] [int] NOT NULL,
	[IsWorking] [bit] NOT NULL,
	[AbsenceId] [int] NULL,
 CONSTRAINT [PK_WorkEmployee_1] PRIMARY KEY CLUSTERED 
(
	[WorkEmployee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[WorkingCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionDate] [date] NOT NULL,
	[IsWorkingDay] [bit] NOT NULL,
 CONSTRAINT [PK__WorkingC__3214EC0797261187] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Absence] ON 

INSERT [dbo].[Absence] ([Id], [DateStart], [DateEnd], [ReplacementId], [AbsenceTypeId]) VALUES (1, CAST(N'2024-11-12T11:00:00.000' AS DateTime), CAST(N'2024-11-12T19:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[Absence] ([Id], [DateStart], [DateEnd], [ReplacementId], [AbsenceTypeId]) VALUES (2, CAST(N'2024-10-10T00:00:00.000' AS DateTime), CAST(N'2024-10-27T00:00:00.000' AS DateTime), 3, 3)
INSERT [dbo].[Absence] ([Id], [DateStart], [DateEnd], [ReplacementId], [AbsenceTypeId]) VALUES (3, CAST(N'2025-01-05T13:00:00.000' AS DateTime), CAST(N'2025-01-06T14:00:00.000' AS DateTime), 23, 2)
SET IDENTITY_INSERT [dbo].[Absence] OFF
GO
SET IDENTITY_INSERT [dbo].[AbsenceType] ON 

INSERT [dbo].[AbsenceType] ([Id], [Name], [Description]) VALUES (1, N'Time off in lieu', N'Paid through event attendance')
INSERT [dbo].[AbsenceType] ([Id], [Name], [Description]) VALUES (2, N'Vacation', N'Paid vacation by days')
INSERT [dbo].[AbsenceType] ([Id], [Name], [Description]) VALUES (3, N'No-show', N'Unexcused absence from work')
SET IDENTITY_INSERT [dbo].[AbsenceType] OFF
GO
SET IDENTITY_INSERT [dbo].[Candidate] ON 

INSERT [dbo].[Candidate] ([Id], [PersonId], [AppliedPosition], [AboutEmployee]) VALUES (1, 1, 4, N'Unmarried')
INSERT [dbo].[Candidate] ([Id], [PersonId], [AppliedPosition], [AboutEmployee]) VALUES (2, 23, 6, N'Has category A driver''s license')
INSERT [dbo].[Candidate] ([Id], [PersonId], [AppliedPosition], [AboutEmployee]) VALUES (3, 76, 22, N'More than 10 years of work experience')
SET IDENTITY_INSERT [dbo].[Candidate] OFF
GO
INSERT [dbo].[CandidateSkill] ([ResumeId], [SkillId]) VALUES (1, 2)
INSERT [dbo].[CandidateSkill] ([ResumeId], [SkillId]) VALUES (2, 3)
INSERT [dbo].[CandidateSkill] ([ResumeId], [SkillId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [DepartmentName], [Description]) VALUES (1, N'Administrative Department', NULL)
INSERT [dbo].[Department] ([Id], [DepartmentName], [Description]) VALUES (2, N'Contracts Department', NULL)
INSERT [dbo].[Department] ([Id], [DepartmentName], [Description]) VALUES (3, N'General Affairs Department', NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [PersonId], [JobId], [WorkPhone], [ParlorId], [Email]) VALUES (1, 1, 38, N'+1 555-100-1001', 19, N'jamesanderson@company.com')
INSERT [dbo].[Employee] ([Id], [PersonId], [JobId], [WorkPhone], [ParlorId], [Email]) VALUES (2, 2, 38, N'+1 555-100-1002', 11, N'marybrown@company.com')
INSERT [dbo].[Employee] ([Id], [PersonId], [JobId], [WorkPhone], [ParlorId], [Email]) VALUES (3, 3, 45, N'+1 555-100-1003', 1, N'johnsmith@company.com')
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[EmployeeAccount] ([EmployeeId], [UserId]) VALUES (1, 1)
INSERT [dbo].[EmployeeAccount] ([EmployeeId], [UserId]) VALUES (2, 2)
INSERT [dbo].[EmployeeAccount] ([EmployeeId], [UserId]) VALUES (3, 3)
GO
INSERT [dbo].[EmployeeDepartment] ([EmployeeId], [DepartmentId], [SubDepartmentId], [ManagerId], [AssistantId]) VALUES (1, 21, NULL, 1, 2)
INSERT [dbo].[EmployeeDepartment] ([EmployeeId], [DepartmentId], [SubDepartmentId], [ManagerId], [AssistantId]) VALUES (2, 20, NULL, 3, 4)
INSERT [dbo].[EmployeeDepartment] ([EmployeeId], [DepartmentId], [SubDepartmentId], [ManagerId], [AssistantId]) VALUES (3, 21, NULL, 5, 6)
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Name], [TypeId], [StartDate], [EndDate], [Description]) VALUES (1, N'2024 Year-End Results', 1, CAST(N'2024-12-27T15:30:00.000' AS DateTime), CAST(N'2024-12-27T19:00:00.000' AS DateTime), N'Annual company performance review')
INSERT [dbo].[Event] ([Id], [Name], [TypeId], [StartDate], [EndDate], [Description]) VALUES (2, N'Construction Planning Course', 2, CAST(N'2024-01-04T12:30:00.000' AS DateTime), CAST(N'2024-05-04T12:30:00.000' AS DateTime), N'Road construction planning training course')
INSERT [dbo].[Event] ([Id], [Name], [TypeId], [StartDate], [EndDate], [Description]) VALUES (3, N'General Assembly in Assembly Hall', 3, CAST(N'2025-01-11T00:00:00.000' AS DateTime), CAST(N'2025-01-11T12:30:00.000' AS DateTime), N'All employees must attend!')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
INSERT [dbo].[EventEmployee] ([EventId], [Employee], [IsOrganizer]) VALUES (1, 34, 1)
INSERT [dbo].[EventEmployee] ([EventId], [Employee], [IsOrganizer]) VALUES (2, 2, 1)
INSERT [dbo].[EventEmployee] ([EventId], [Employee], [IsOrganizer]) VALUES (2, 56, 0)
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [Parth]) VALUES (1, N'\image\1.jpg')
INSERT [dbo].[Image] ([Id], [Parth]) VALUES (2, N'\image\2.jpg')
INSERT [dbo].[Image] ([Id], [Parth]) VALUES (3, N'\image\3.jpg')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[ImageMaterial] ([IdMaterial], [IdImage]) VALUES (3, 1)
INSERT [dbo].[ImageMaterial] ([IdMaterial], [IdImage]) VALUES (4, 2)
INSERT [dbo].[ImageMaterial] ([IdMaterial], [IdImage]) VALUES (5, 3)
GO
INSERT [dbo].[Material] ([Id], [Name], [Description], [ApprovalDate], [ChangeDate], [SatusId], [TypeId], [Area], [AuthorId]) VALUES (1, N'Order No. 12', N'Order for land purchase for road construction', CAST(N'2024-09-20' AS Date), CAST(N'2024-09-30' AS Date), 1, 1, N'Bureaucracy', 23)
INSERT [dbo].[Material] ([Id], [Name], [Description], [ApprovalDate], [ChangeDate], [SatusId], [TypeId], [Area], [AuthorId]) VALUES (2, N'Year-End Results Presentation', N'Presentation for the annual corporate event', CAST(N'2024-12-19' AS Date), CAST(N'2024-12-24' AS Date), 1, 3, N'Organization', 89)
INSERT [dbo].[Material] ([Id], [Name], [Description], [ApprovalDate], [ChangeDate], [SatusId], [TypeId], [Area], [AuthorId]) VALUES (3, N'News Article 1', N'Description of news article 1', CAST(N'2025-01-11' AS Date), CAST(N'2025-01-11' AS Date), 2, 4, NULL, 1)
GO
INSERT [dbo].[MaterialTrening] ([EventId], [MaterialId], [TrainingId]) VALUES (1, 2, 1)
INSERT [dbo].[MaterialTrening] ([EventId], [MaterialId], [TrainingId]) VALUES (2, 1, 3)
GO
INSERT [dbo].[Parlor] ([Id], [ParlorName]) VALUES (1, N'401')
INSERT [dbo].[Parlor] ([Id], [ParlorName]) VALUES (2, N'404')
INSERT [dbo].[Parlor] ([Id], [ParlorName]) VALUES (3, N'406')
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [FullName], [Birthday], [Phone]) VALUES (1, N'James Anderson', CAST(N'1969-10-16' AS Date), N'+1 555-200-1001')
INSERT [dbo].[Person] ([Id], [FullName], [Birthday], [Phone]) VALUES (2, N'Mary Brown', CAST(N'1978-12-28' AS Date), NULL)
INSERT [dbo].[Person] ([Id], [FullName], [Birthday], [Phone]) VALUES (3, N'John Smith', CAST(N'1967-09-06' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [PositionName]) VALUES (1, N'Administrative Director - Head of Staff')
INSERT [dbo].[Position] ([Id], [PositionName]) VALUES (2, N'Accountant')
INSERT [dbo].[Position] ([Id], [PositionName]) VALUES (3, N'Payroll Accountant')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([Id], [Description]) VALUES (1, N'C# programming skills')
INSERT [dbo].[Skill] ([Id], [Description]) VALUES (2, N'English proficiency C1')
INSERT [dbo].[Skill] ([Id], [Description]) VALUES (3, N'Leadership experience')
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Processed')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'New')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[SubdDepartment] ON 

INSERT [dbo].[SubdDepartment] ([SubdDepartment_id], [SubdivisionId], [DepartmentId]) VALUES (2, 1, 2)
INSERT [dbo].[SubdDepartment] ([SubdDepartment_id], [SubdivisionId], [DepartmentId]) VALUES (3, 1, 3)
INSERT [dbo].[SubdDepartment] ([SubdDepartment_id], [SubdivisionId], [DepartmentId]) VALUES (4, 1, 4)
SET IDENTITY_INSERT [dbo].[SubdDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[SubDepartment] ON 

INSERT [dbo].[SubDepartment] ([Id], [Name], [Description]) VALUES (1, N'IT Department', NULL)
INSERT [dbo].[SubDepartment] ([Id], [Name], [Description]) VALUES (2, N'Administrative and Facilities Management Directorate', NULL)
INSERT [dbo].[SubDepartment] ([Id], [Name], [Description]) VALUES (3, N'Event Organization and Support Department', NULL)
SET IDENTITY_INSERT [dbo].[SubDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[Subdivision] ON 

INSERT [dbo].[Subdivision] ([Id], [Name], [Description]) VALUES (1, N'Administrative Department', NULL)
INSERT [dbo].[Subdivision] ([Id], [Name], [Description]) VALUES (2, N'Smart Roads Academy', NULL)
INSERT [dbo].[Subdivision] ([Id], [Name], [Description]) VALUES (3, N'Executive Management Office', NULL)
SET IDENTITY_INSERT [dbo].[Subdivision] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingCalendar] ON 

INSERT [dbo].[TrainingCalendar] ([Id], [ExceptionDate], [IsEventDay]) VALUES (1, CAST(N'2025-01-07' AS Date), 1)
INSERT [dbo].[TrainingCalendar] ([Id], [ExceptionDate], [IsEventDay]) VALUES (2, CAST(N'2025-01-08' AS Date), 0)
INSERT [dbo].[TrainingCalendar] ([Id], [ExceptionDate], [IsEventDay]) VALUES (3, CAST(N'2025-01-09' AS Date), 1)
SET IDENTITY_INSERT [dbo].[TrainingCalendar] OFF
GO
INSERT [dbo].[TypeEvent] ([Id], [Name]) VALUES (1, N'Training')
INSERT [dbo].[TypeEvent] ([Id], [Name]) VALUES (2, N'Conference')
INSERT [dbo].[TypeEvent] ([Id], [Name]) VALUES (3, N'Meeting')
GO
SET IDENTITY_INSERT [dbo].[TypeMaterial] ON 

INSERT [dbo].[TypeMaterial] ([Id], [Name]) VALUES (1, N'Text Documentation')
INSERT [dbo].[TypeMaterial] ([Id], [Name]) VALUES (2, N'Diagram')
INSERT [dbo].[TypeMaterial] ([Id], [Name]) VALUES (3, N'Presentation')
SET IDENTITY_INSERT [dbo].[TypeMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (1, N'jdhd12', N'ds22ew2')
INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (2, N'ede1wd', N'wd321')
INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (3, N'eddwg54', N'ecx334')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkEmployee] ON 

INSERT [dbo].[WorkEmployee] ([WorkEmployee_id], [WorkingDayId], [EmployeeId], [IsWorking], [AbsenceId]) VALUES (1, 1, 11, 1, NULL)
INSERT [dbo].[WorkEmployee] ([WorkEmployee_id], [WorkingDayId], [EmployeeId], [IsWorking], [AbsenceId]) VALUES (2, 2, 1, 0, 1)
INSERT [dbo].[WorkEmployee] ([WorkEmployee_id], [WorkingDayId], [EmployeeId], [IsWorking], [AbsenceId]) VALUES (3, 2, 4, 0, 11)
SET IDENTITY_INSERT [dbo].[WorkEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkingCalendar] ON 

INSERT [dbo].[WorkingCalendar] ([Id], [ExceptionDate], [IsWorkingDay]) VALUES (1, CAST(N'2024-01-01' AS Date), 0)
INSERT [dbo].[WorkingCalendar] ([Id], [ExceptionDate], [IsWorkingDay]) VALUES (2, CAST(N'2024-01-02' AS Date), 0)
INSERT [dbo].[WorkingCalendar] ([Id], [ExceptionDate], [IsWorkingDay]) VALUES (3, CAST(N'2024-01-03' AS Date), 0)
SET IDENTITY_INSERT [dbo].[WorkingCalendar] OFF
GO
ALTER TABLE [dbo].[Absence]  WITH CHECK ADD  CONSTRAINT [FK_Absence_AbsenceTypes] FOREIGN KEY([AbsenceTypeId])
REFERENCES [dbo].[AbsenceType] ([Id])
GO
ALTER TABLE [dbo].[Absence] CHECK CONSTRAINT [FK_Absence_AbsenceTypes]
GO
ALTER TABLE [dbo].[Absence]  WITH CHECK ADD  CONSTRAINT [FK_Absence_Employee] FOREIGN KEY([ReplacementId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Absence] CHECK CONSTRAINT [FK_Absence_Employee]
GO
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_Position] FOREIGN KEY([AppliedPosition])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_Position]
GO
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Resume_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Resume_Person]
GO
ALTER TABLE [dbo].[CandidateSkill]  WITH CHECK ADD  CONSTRAINT [FK_ResumeSkills_Resume] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Candidate] ([Id])
GO
ALTER TABLE [dbo].[CandidateSkill] CHECK CONSTRAINT [FK_ResumeSkills_Resume]
GO
ALTER TABLE [dbo].[CandidateSkill]  WITH CHECK ADD  CONSTRAINT [FK_ResumeSkills_Skill] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skill] ([Id])
GO
ALTER TABLE [dbo].[CandidateSkill] CHECK CONSTRAINT [FK_ResumeSkills_Skill]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Parlor] FOREIGN KEY([ParlorId])
REFERENCES [dbo].[Parlor] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Parlor]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Person]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([JobId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[EmployeeAccount]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAccount_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAccount] CHECK CONSTRAINT [FK_EmployeeAccount_Employee]
GO
ALTER TABLE [dbo].[EmployeeAccount]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAccount_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAccount] CHECK CONSTRAINT [FK_EmployeeAccount_User]
GO
ALTER TABLE [dbo].[EmployeeDepartment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartment_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartment] CHECK CONSTRAINT [FK_EmployeeDepartment_Department]
GO
ALTER TABLE [dbo].[EmployeeDepartment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartment_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartment] CHECK CONSTRAINT [FK_EmployeeDepartment_Employee]
GO
ALTER TABLE [dbo].[EmployeeDepartment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartment_Employee1] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartment] CHECK CONSTRAINT [FK_EmployeeDepartment_Employee1]
GO
ALTER TABLE [dbo].[EmployeeDepartment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartment_Employee2] FOREIGN KEY([AssistantId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartment] CHECK CONSTRAINT [FK_EmployeeDepartment_Employee2]
GO
ALTER TABLE [dbo].[EmployeeDepartment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartment_SubDepartment] FOREIGN KEY([SubDepartmentId])
REFERENCES [dbo].[SubDepartment] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartment] CHECK CONSTRAINT [FK_EmployeeDepartment_SubDepartment]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_TypeEvent] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeEvent] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_TypeEvent]
GO
ALTER TABLE [dbo].[EventEmployee]  WITH CHECK ADD  CONSTRAINT [FK_EventEmployee_Employee] FOREIGN KEY([Employee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EventEmployee] CHECK CONSTRAINT [FK_EventEmployee_Employee]
GO
ALTER TABLE [dbo].[EventEmployee]  WITH CHECK ADD  CONSTRAINT [FK_EventEmployee_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[EventEmployee] CHECK CONSTRAINT [FK_EventEmployee_Event]
GO
ALTER TABLE [dbo].[ImageMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ImageMaterial_Image] FOREIGN KEY([IdImage])
REFERENCES [dbo].[Image] ([Id])
GO
ALTER TABLE [dbo].[ImageMaterial] CHECK CONSTRAINT [FK_ImageMaterial_Image]
GO
ALTER TABLE [dbo].[ImageMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ImageMaterial_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ImageMaterial] CHECK CONSTRAINT [FK_ImageMaterial_Material]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Employee] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Employee]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Status] FOREIGN KEY([SatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Status]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_TypeMaterial] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeMaterial] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_TypeMaterial]
GO
ALTER TABLE [dbo].[MaterialTrening]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsTrenings_Event] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[MaterialTrening] CHECK CONSTRAINT [FK_MaterialsTrenings_Event]
GO
ALTER TABLE [dbo].[MaterialTrening]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsTrenings_Material] FOREIGN KEY([EventId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[MaterialTrening] CHECK CONSTRAINT [FK_MaterialsTrenings_Material]
GO
ALTER TABLE [dbo].[MaterialTrening]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsTrenings_TrainingCalendar] FOREIGN KEY([TrainingId])
REFERENCES [dbo].[TrainingCalendar] ([Id])
GO
ALTER TABLE [dbo].[MaterialTrening] CHECK CONSTRAINT [FK_MaterialsTrenings_TrainingCalendar]
GO
ALTER TABLE [dbo].[SubdDepartment]  WITH CHECK ADD  CONSTRAINT [FK_SubdDepartment_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[SubdDepartment] CHECK CONSTRAINT [FK_SubdDepartment_Department]
GO
ALTER TABLE [dbo].[SubdDepartment]  WITH CHECK ADD  CONSTRAINT [FK_SubdDepartment_Subdivision] FOREIGN KEY([SubdivisionId])
REFERENCES [dbo].[Subdivision] ([Id])
GO
ALTER TABLE [dbo].[SubdDepartment] CHECK CONSTRAINT [FK_SubdDepartment_Subdivision]
GO
ALTER TABLE [dbo].[WorkEmployee]  WITH CHECK ADD  CONSTRAINT [FK_WorkEmployee_Absence] FOREIGN KEY([AbsenceId])
REFERENCES [dbo].[Absence] ([Id])
GO
ALTER TABLE [dbo].[WorkEmployee] CHECK CONSTRAINT [FK_WorkEmployee_Absence]
GO
ALTER TABLE [dbo].[WorkEmployee]  WITH CHECK ADD  CONSTRAINT [FK_WorkEmployee_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[WorkEmployee] CHECK CONSTRAINT [FK_WorkEmployee_Employee]
GO
ALTER TABLE [dbo].[WorkEmployee]  WITH CHECK ADD  CONSTRAINT [FK_WorkEmployee_WorkingCalendar] FOREIGN KEY([WorkingDayId])
REFERENCES [dbo].[WorkingCalendar] ([Id])
GO
ALTER TABLE [dbo].[WorkEmployee] CHECK CONSTRAINT [FK_WorkEmployee_WorkingCalendar]
GO
USE [master]
GO
